Powered On/RecordCreatedNotifyCareGiver.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"commondataservice_1_Connection_Name":{"defaultValue":"commondataservice_1","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnNewItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['commondataservice_1']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('org561eb77a.crm4'))}/tables/@{encodeURIComponent(encodeURIComponent('crb3c_patientsymptomses'))}/onnewitemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Send_to_Bot":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"http://patientsymptombot.azurewebsites.net/api/notify/HealthBot","headers":{"Content-Type":"application/json"},"body":{"Key":"4cd99b7f-aa52-4785-b1f6-2cd924e4a6e9","Doctor":"@{triggerBody()?['crb3c_doctor']}","PatientName":"@{triggerBody()?['crb3c_name']}","PatientDob":"@{triggerBody()?['crb3c_dateofbirth']}","Symptoms":"@{triggerBody()?['crb3c_symptoms']}","Identifier":"@{triggerBody()?['crb3c_identifier']}","SignSymptomMention":"@{body('Parse_JSON')?['signSymptomMentionConceptList']}","MedicationMention":"@{body('Parse_JSON')?['medicationMentionConceptList']}","DiseaseDisorderMention":"@{body('Parse_JSON')?['diseaseDisorderConceptList']}","AnatomicalSiteMention":"@{body('Parse_JSON')?['anatomicalSiteMentionConceptList']}"}}},"CTakes_Engine":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://symptomschecker.azurewebsites.net/api/cParseFunction","headers":{"x-function-key":"fnJ6Kfbbjp1/qiIQ2tRwMs2Rw0U4si5fNZva1GZU6vskxCpfYLPFog=="},"body":"@triggerBody()?['crb3c_symptoms']"}},"Parse_JSON":{"runAfter":{"CTakes_Engine":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('CTakes_Engine')","schema":{"type":"object","properties":{"diseaseDisorderConceptList":{"type":"string"},"medicationMentionConceptList":{"type":"string"},"signSymptomMentionConceptList":{"type":"string"},"anatomicalSiteMentionConceptList":{"type":"string"}}}}}}},"parameters":{"$connections":{"value":{"commondataservice_1":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'commondataservice_1')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('commondataservice_1_Connection_Name'))]","connectionName":"[parameters('commondataservice_1_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('commondataservice_1_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('commondataservice_1_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'commondataservice_1')]"},"displayName":"[parameters('commondataservice_1_Connection_Name')]"}}]}